extends layout
block content
  input#id(type="hidden" value="#{id}")
  .featured-section
    .container
      h2 当前比赛
      .row
        .col.s6.card-panel.hoverable.container
          h3
            | ACM校内赛
          if(admin)
            p
              | 在这里管理比赛
          else
            p
              | ACM校内赛每年举行一次，时间在5月份。
              | 比赛目的为提高计算机教学质量与选拔优秀选手。
              | 比赛形式借鉴ACM正规比赛，三人组成一队使用一台电脑在规定时间内正确解答尽可能多的题目。
              | ACM竞赛年度性竞赛，始于1970年，是全球大学生计算机程序能力竞赛活动中最有影响的一项赛事，是全球历史最悠久、规模最大且最负盛名的程序设计竞赛。竞赛提倡创新和团队协作，鼓励学生在构建全新的软件程序时尽情发挥创意，帮助学生检验自己在强压力下的工作能力。是世界各地计算机程序设计者大显身手的舞台，也是世界一流大学展现教育成果的最佳窗口。
          if(admin)
            a.button.btn.waves-effect.waves-light.col.s4(href='/admin/?id=#{id}&action=manage_contest&contest=acm')
              | 点击进入管理面板
              span
              img.responsive-img(src='/images/jiangbei.JPG' alt='ACM奖杯')
          else
            a.button.btn.waves-effect.waves-light.col.s4(href='/contests/contest/?id=#{id}&contest=acm')
              | 相关信息
              span
              img.responsive-img(src='/images/jiangbei.JPG', alt='ACM奖杯')
        .col.s6.card-panel.hoverable.container
          h3
            | 计算机应用设计大赛
          if(admin)
            p
              | 在这里管理比赛
          else
            p
              | 计算机应用设计大赛是信息科学技术学院举办的年度性比赛，比赛目的在于提高计算机教学质量与选拔优秀选手。
              | “中国大学生计算机设计大赛”是由教育部高等学校计算机类专业教学指导委员会、教育部高等学校软件工程专业教学指导委员会、教育部高等学校大学计算机课程教学指导委员会、教育部高等学校文科计算机基础教学指导分委员会、中国教育电视台联合主办的大型全国竞赛。
              | 计算机应用设计大赛便是该全国赛的校内选拔赛。校内赛选拔的优秀选手将有机会参与到复赛，成功晋级后可以参加全国赛。
              | 该比赛已经举办多年，每年都有优秀的选手在全国总决赛获得较好名次。
          if(admin)
            a.button.btn.waves-effect.waves-light.col.s4(href='/admin/?id=#{id}&action=manage_contest&contest=jiying')
              | 点击进入管理面板
              span
              img.responsive-img(src='/images/IMG_20171111_194115.jpg', alt='')
          else
            a.button.btn.waves-effect.waves-light.col.s4(href='/contests/contest/?id=#{id}&contest=jiying')
              | 相关信息
              span
              img.responsive-img(src='/images/IMG_20171111_194115.jpg', alt='')
