extends layout

block content
    script.
      $('#CONTESTS').addClass('active')
    .container
      if(contest === "acm")
        blockquote
          | 注意比赛尚未开始报名，一切操作都不会保存
        script.
          Materialize.toast('注意比赛尚未开始报名，一切操作都不会保存', 5000, 'rounded')
        //  alert('注意比赛尚未开始报名，一切操作都不会保存')
        h2 ACM校内赛
      else if(contest === "jiying")
        blockquote
          | 注意比赛尚未开始报名，一切操作都不会保存
        script.
          Materialize.toast('注意比赛尚未开始报名，一切操作都不会保存', 5000, 'rounded')
        //  alert('注意比赛尚未开始报名，一切操作都不会保存')
        h2 计算机应用设计大赛
      .row
        .col.s4
          ul
            li.list1
              h3 赛事状态
              ul.collapsible.popout(data-collapsible="accordion")
                li
                  .collapsible-header.active
                    赛前组队
                  .collapsible-body
                    if(contest === "acm")
                      p
                        | 比赛允许1-3人组队，所有参赛人员应先注册并报名，然后选择加入一支队伍加入或者自己组建新的队伍，
                        | 请在右侧进行操作。报名后会自动分配到一个默认队伍，请自行更改队伍名字或者加入新的队伍。
                    else if(contest === "jiying")
                      p
                        | 比赛组队人员限制将尽快公布。
                        | 所有参赛人员应先注册并报名，然后选择加入一支队伍加入或者自己组建新的队伍，
                        | 请在右侧进行操作。
                li
                  .collapsible-header
                    | 比赛时间
                  .collapsible-body
                    if(contest === "acm")
                      p
                        | ACM校内赛尚未开始。
                        | 比赛预计将在2018年5月择期举行，请关注比赛动态，不要错过比赛时间
                    else if(contest === "jiying")
                      p
                        | 计算机应用设计大赛分为校内初赛、市级复赛和全国总决赛。
                        | 初赛尚未开始。
                        | 初赛预计将在2018年4月择期举行，请关注比赛动态，不要错过比赛时间。
                li
                  .collapsible-header
                    | 比赛地点
                  .collapsible-body
                    if(contest === "acm")
                      p
                        | ACM校内赛尚未开始。
                        | 比赛预计将在北京大学计算机机房举行，请关注比赛动态，获悉比赛地点
                    else if(contest === "jiying")
                      p
                        | 计算机应用设计大赛分为校内初赛、市级复赛和全国总决赛。
                        | 初赛尚未开始。
                        | 初赛预计将在北京大学校内举行，地点尚未确定，请关注比赛动态，获悉比赛地点。

                li
                  .collapsible-header
                    if(contest === "acm")
                      | 比赛成绩及奖励
                    else if(contest === "jiying")
                      | 作品管理
                  .collapsible-body
                    if(contest === "acm")
                      p
                        | 比赛成绩将在本网站公布，请及时查询。
                        | 根据成绩奖励将有所不同，具体细节将在比赛前公布。
                    else if(contest === "jiying")
                      p
                        | 参赛作品在初赛正式开始之前可以修改，比赛以最后一次上传作品作为有效参赛作品。
                        | 初赛结束后成功晋级到复赛的作品，本网站会在特定时间开放提交入口进行进一步修改。

                li
                  .collapsible-header
                    if(contest === "acm")
                      | 颁奖仪式
                    else if(contest === "jiying")
                      | 比赛成绩及奖励
                  .collapsible-body
                    if(contest === "acm")
                      p
                        | 颁奖仪式预计在2018年6月于北京大学校内举行，请持续关注信息。
                    else if(contest === "jiying")
                      p
                        | 比赛成绩将在本网站公布，请及时查询。
                        | 根据成绩奖励将有所不同，具体细节将在比赛前公布。
        if(sign)
          .col.s4
            ul
              li.list1
                h3.m_3 您的状态
                ul.collapsible.popout(data-collapsible="accordion")
                  li
                    .collapsible-header.active
                      报名
                    .collapsible-body
                      您已经报名成功。
                      您的id是：#{id}
                  li
                    .collapsible-header.active
                      组队情况
                    .collapsible-body
                      if(team_name < 0)
                        p
                          | 您还没有组队
                      else
                        p
                           您已经在一个队伍中了<br>
                           您所在的队伍名为：#{team_name}<br>
                           您所在的队伍id为：#{team_id}<br>
                           您所在的队伍的成员包括：<br>
                           #{member_info}
                  li
                    .collapsible-header.active
                      if(contest === "acm")
                        | 参赛情况
                      else if(contest === "jiying")
                        | 作品上交情况
                    .collapsible-body
                      if(contest === "acm")
                        if(attend_confirm > 0)
                          p
                            | 您已经参加了比赛。
                        else if(attend_confirm === 0)
                          p
                            | 比赛已经结束，您没有参加比赛，如果有问题，请向我们反映。
                        else if(attend_confirm < 0)
                          p
                            | 比赛尚未开始，请关注比赛时间不要错过。
                      else if(contest === "jiying")
                        if(other > 0)
                          p
                            | 您已经上传过作品（文件名是队伍id）：<strong> #{file_name} </strong>
                            | <br>
                            a.button.btn.waves-effect.waves-light(href="/downloads/contests?id=#{id}&file_name=#{file_name}")
                              下载之前上传的文件
                        else if(other < 0)
                          p
                            | 您尚未上传作品
                   li
                    .collapsible-header.active
                      if(contest === "acm")
                        | 比赛成绩
                      else if(contest === "jiying")
                        | 参赛情况
                    .collapsible-body
                      if(contest === "acm")
                        if(prize < 0)
                          p
                            | 成绩尚未公布
                        else if(prize === 1)
                          p
                            | 恭喜，您获得了一等奖。
                        else if(prize === 2)
                          p
                            | 恭喜，您获得了二等奖。
                        else if(prize === 3)
                          p
                            | 恭喜，您获得了三等奖。
                        else
                          p
                            | 很遗憾，您没有获得奖项。
                      else if(contest === "jiying")
                        if(attend_confirm > 0)
                          p
                            | 您已经参加了比赛。
                        else if(attend_confirm === 0)
                          p
                            | 比赛已经结束，您没有参加比赛，如果有问题，请向我们反映。
                        else if(attend_confirm < 0)
                          p
                            | 比赛尚未开始，请关注比赛时间不要错过。

                if(contest === "jiying")
                  li
                    .collapsible-header.active
                      | 比赛成绩
                    .collapsible-body
                        if(prize < 0)
                          p
                            | 成绩尚未公布
                        else if(prize === 1)
                          p
                            | 恭喜，您获得了一等奖。
                        else if(prize === 2)
                          p
                            | 恭喜，您获得了二等奖。
                        else if(prize === 3)
                          p
                            | 恭喜，您获得了三等奖。
                        else
                          p
                            | 很遗憾，您没有获得奖项。

          .col.s4
            ul
              li.list1
                h3 在这里更改队伍信息
            form(action="/contests/change_team_name", method="get")
                  input.button.btn.waves-effect.waves-light.rotate2(type="submit" value="我要更改队伍名")
                  input(type="hidden" name="id" value="#{id}")
                  input(type="hidden" name="contest" value="#{contest}")
                  input.text.team(name="new_team" value="新的队伍名称" onfocus="if(this.value==='新的队伍名称') this.value=''" onblur="if(this.value==='') this.value='新的队伍名称'")
            form(action="/contests/add_member", method="get")
                  input.button.btn.waves-effect.waves-light.rotate2(type="submit" value="我要加入一个队员")
                  input(type="hidden" name="id" value="#{id}")
                  input(type="hidden" name="contest" value="#{contest}")
                  input.text.team(name="number" value="要加入的队员id" onfocus="if(this.value==='要加入的队员id') this.value=''" onblur="if(this.value==='') this.value='要加入的队员id'")
            if(contest==="jiying")
              ul.topic_grid
                li.list1
                  h3.m_3 在这里上传作品
                form(action="/contests/upload/?id=#{id}&contest=#{contest}" method="post" enctype="multipart/form-data")
                  .file-field.input-field
                    .btn
                      span
                        | File
                      input(type="file" name="file")
                    .file-path-wrapper
                      input.file-path.validate(type="text")
                    input.button.btn.waves-effect.waves-light.rotate2(type="submit" value="提交")
                p#fileName
                script.
                  $("#file").on("change", function () {
                      //截取路径，获取上传文件名
                      var urlArr = this.value.split("\\");
                      if (this && this.files && this.files[0]) {
                          document.getElementById("fileName").innerHTML = urlArr[urlArr.length - 1];
                          var fileUrl = URL.createObjectURL(this.files[0]);
                          //document.getElementById("fileImg").src = fileUrl;
                      } else {
                          //兼容IE9以下
                          document.getElementById("fileName").innerHTML = urlArr[urlArr.length - 1];
                          //document.getElementById("fileImg").style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale)";
                          //document.getElementById("fileImg").filters.item("DXImageTransform.Microsoft.AlphaImageLoader").src = this.value;
                      }
                  });

            a.right.button.btn.waves-effect.waves-light(href='/contests/?id=#{id}')
                | 返回
                span
        else
          .col.s8
            if(contest === "jiying")
              nav.nav-extended
                .nav-content
                  ul.tabs.tabs-transparent
                    li.tab
                      a.active(href='#type1') web应用与开发
                    li.tab
                      a(href='#type2') 数字媒体普通组
                    li.tab
                      a(href='#type3') 民族文化元素组
                    li.tab
                      a(href='#type4') 传统文化微电影组

              a#type1.col.btn.waves-effect.waves-light(href='/contests/sign/?id=#{id}&contest=#{contest}&type=type1') web应用与开发
                | 报名
              a#type2.col.btn.waves-effect.waves-light(href='/contests/sign/?id=#{id}&contest=#{contest}&type=type2') 数字媒体普通组
                | 报名
              a#type3.col.btn.waves-effect.waves-light(href='/contests/sign/?id=#{id}&contest=#{contest}&type=type3') 民族文化元素组
                | 报名
              a#type4.col.btn.waves-effect.waves-light(href='/contests/sign/?id=#{id}&contest=#{contest}&type=type4') 传统文化微电影组
                | 报名
            else
              a.button.btn.waves-effect.waves-light(href='/contests/sign/?id=#{id}&contest=#{contest}&type=type0')
                | 点击报名


