extends layout
block content
  input#id(type="hidden" value="#{id}")
  // header
  .header-section2
    // log-and-register
    .header-grey
      .right#upper
        ul.login
          li.login
            a.login(href="/admin/?action=login") 管理登录
          li.login
            a.login(href="/login") 普通登录
          li.login
            a.login(href="/register") 注册
    script.
      var id = document.getElementById("id");
      id = id.value;
      if(id>0)
      {
        $('#upper').empty();
        $('#upper').append(`<ul class='login'>
          <li class='login'><a class='login' href='#'>欢迎您</a></li>
          <li class='login'><a class='login' href='/'>退出登录</a></li>
          </ul>`);
      }
    .header-top.bg
      .container
        // logo
        .logo.two
          //a(href='index.html')
          img(src='/images/logo.png', alt='')
        // top-nav
        .clearfix  
    .sub-header.two
      .top-nav
        span.menu.two  
        ul
          li
            if(admin)
              a(href="/admin/?id=#{id}&action=home") Home
            else
              a(href="/?id=#{id}") Home
          li
            if(admin)
              a(href="/admin/?id=#{id}&action=about_us") About
            else
              a(href="/about_us/?id=#{id}") About
          li
            if(admin)
              a(href="/admin/?id=#{id}&action=contests") Contests
            else
              a(href="/contests/?id=#{id}") Contests
          li
            if(admin)
              a(href="/admin/?id=#{id}&action=volunteers") Volunteers
            else 
              a(href="/volunteers/?id=#{id}") Volunteers
          li.active
            if(admin)
              a(href="/admin/?id=#{id}&action=downloads") Downloads
            else
              a(href="/downloads/?id=#{id}") Downloads
          li
            if(admin)
              a(href="/admin/?id=#{id}&action=join_us") Join Us
            else
              a(href="/about_us/join_us/?id=#{id}") Join Us
          .clearfix  
    .clearfix  
    // script-for-menu
    script.
      $(document).ready(function(){
      $("span.menu").click(function(){
      $(".top-nav ul").slideToggle(200);
      });
      });
    .clearfix  
  // /header
  // /start-Events
  .services
    .container
      h3 可供下载的内容
      .service-section
        .portfolio-wrapper-1
          a.b-link-stripe.b-animate-go.thickbox.play-icon.popup-with-zoom-anim(href='#small-dialog')
            //img.img-responsive.pimg(src='images/s1.jpg', alt='')
            .b-wrapper
              h2.b-animate.b-from-left.b-delay03
                img(src='images/icon-eye.png', alt='')
          h4 Foundations of Machine Learning
          p
            | 该书是机器学习理论入门参考资料
            | 可供下载与使用
          a.dow-btn(href='/documents/FoundationsofMachineLearning.pdf' target="_blank") 点击下载
        .portfolio-wrapper-1
          a.b-link-stripe.b-animate-go.thickbox.play-icon.popup-with-zoom-anim(href='#small-dialog1')
            //img.img-responsive.pimg(src='images/s2.jpg', alt='')
            .b-wrapper
              h2.b-animate.b-from-left.b-delay03
                img(src='images/icon-eye.png', alt='')
          h4 AlphaGo Nature 文章
          p
            | 该文章介绍了AlphaGo 的结构与实现方式。
            | 有希望对 AlphaGo 做一些了解的同学可以下载使用。
          a.dow-btn(href='/documents/Mastering-the-game-of-Go-with-deep-neural-networks-and-tree-search.pdf' target="_blank") 点击下载
        .portfolio-wrapper-1
          a.b-link-stripe.b-animate-go.thickbox.play-icon.popup-with-zoom-anim(href='#small-dialog2')
            //img.img-responsive.pimg(src='images/s3.jpg', alt='')
            .b-wrapper
              h2.b-animate.b-from-left.b-delay03
                img(src='images/icon-eye.png', alt='')
          h4 机器学习-Mitchell-中文
          p
            | 这本书也是机器学习入门教材。
            | 虽然有些老了，但是作为入门经典学习也是可以的。
          a.dow-btn(href='/documents/机器学习-Mitchell-中文.pdf' target="_blank") 点击下载
        .portfolio-wrapper-1
          a.b-link-stripe.b-animate-go.thickbox.play-icon.popup-with-zoom-anim(href='#small-dialog3')
            //img.img-responsive.pimg(src='images/s4.jpg', alt='')
            .b-wrapper
              h2.b-animate.b-from-left.b-delay03
                img(src='images/icon-eye.png', alt='')
          h4 数学之美
          p
            | 吴军老师的书，将计算机科学中用到的许多数学知识生动呈现，让你感受数学之美。
          a.dow-btn(href='/documents/数学之美.pdf' target="_blank") 点击下载
      .service-section.two
        .portfolio-wrapper-1
          a.b-link-stripe.b-animate-go.thickbox.play-icon.popup-with-zoom-anim(href='#small-dialog')
            //img.img-responsive.pimg(src='images/s1.jpg', alt='')
            .b-wrapper
              h2.b-animate.b-from-left.b-delay03
                img(src='images/icon-eye.png', alt='')
          h4 Reinforement Learning: An Introduction
          p
            | 该书是以Sutton为主要作者撰写的关于增强学习的入门书籍。
            | 关于增强学习的入门必看书籍。
          a.dow-btn(href='/documents/SuttonBook.pdf' target="_blank") 点击下载
        .portfolio-wrapper-1
          a.b-link-stripe.b-animate-go.thickbox.play-icon.popup-with-zoom-anim(href='#small-dialog1')
            //img.img-responsive.pimg(src='images/s2.jpg', alt='')
            .b-wrapper
              h2.b-animate.b-from-left.b-delay03
                img(src='images/icon-eye.png', alt='')
          h4 DQN Nature 文章
          p
            | DQN 是增强学习中的一种方法，依靠网络估计Q值，在一些应用中取得了好的效果。
            | 这篇文章将介绍该方法。
          a.dow-btn(href='/documents/DQNNaturePaper.pdf' target="_blank") 点击下载
        .portfolio-wrapper-1
          a.b-link-stripe.b-animate-go.thickbox.play-icon.popup-with-zoom-anim(href='#small-dialog2')
            //img.img-responsive.pimg(src='images/s3.jpg', alt='')
            .b-wrapper
              h2.b-animate.b-from-left.b-delay03
                img(src='images/icon-eye.png', alt='')
          h4 CS294课件
          p
            | CS294主要讲深度增强学习，课程实例很多，相信对学习有所帮助。
          a.dow-btn(href='/documents/CS294.rar' target="_blank") 点击下载
        .portfolio-wrapper-1
          a.b-link-stripe.b-animate-go.thickbox.play-icon.popup-with-zoom-anim(href='#small-dialog3')
            //img.img-responsive.pimg(src='images/s4.jpg', alt='')
            .b-wrapper
              h2.b-animate.b-from-left.b-delay03
                img(src='images/icon-eye.png', alt='')
          h4 ShadowSocks 实现项目
          p
            | 本项目可以用来理解ShadowSocks的原理，对于网络学习有一定帮助。
            | 这里仅仅是用作学习和研究使用，不存在其他目的。
          a.dow-btn(href='/documents/shadowsocks-master.rar' target="_blank") 点击下载
      .clearfix
    .clearfix
  .clearfix
  // pop-up-box
 
  #small-dialog.mfp-hide
    .image-top
      p(style="width:600px;margin-left:auto;margin-right:auto;")
        | 这里的下载文件是由科协提供用来学习和研究的
  #small-dialog1.mfp-hide
    .image-top
      p(style="width:600px;margin-left:auto;margin-right:auto;")
        | 下载内容包括课程资料，课外学习资料等
  #small-dialog2.mfp-hide
    .image-top
      p(style="width:600px;margin-left:auto;margin-right:auto;")
        | 如果您有需要的资料，可以联系我们提出需求，我们会尽力搜寻您需要的资料（我们的邮箱：eecskexie@163.com）
  #small-dialog3.mfp-hide
    .image-top
      p(style="width:600px;margin-left:auto;margin-right:auto;")
        | 如果您有资料愿意提供，也可以联系我们，我们将会分享您的智慧。

  .testimonials#testimonials
    .wmuSlider.example1
  // //End-foote
  .copy-right-section
    .container
      .col-md-6.copy-right
        p
          | 信息科学技术学院学生科学技术协会 @2018.eecssast ：
          a(href='http://www.eecssast.com/', target='_blank', title='信科科协') 信科科协
          | EECSSAST： 
          a(href='http://www.eecssast.com/', title='EECSSAST', target='_blank') EECSSAST
