doctype html
html(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0')
    title 科协网站
    // Scripts
    script(src='/javascripts/jquery-1.8.3.min.js')
    script(src='/javascripts/materialize.min.js')
    // CSS
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(href='/stylesheets/materialize.min.css', type='text/css', rel='stylesheet', media='screen,projection')
  body
    input#id(type="hidden" value="#{id}")
    nav.light-blue.lighten-1(role='navigation').nav-extended
      .nav-wrapper.container
        a#logo-container.brand-logo(href='#') 信科科协
        ul.right.hide-on-med-and-down.right_nav
          li.waves-effect.waves-light
            a(href='#') Navbar Link
        a.button-collapse(href='#', data-activates='nav-mobile')
          i.material-icons menu
        ul.right.hide-on-med-and-down
          li#HOME.tab.waves-effect.waves-light
            if(admin)
              a(href="/admin/?id=#{id}&action=home") Home
            else
              a(href="/?id=#{id}") Home
          li#ABOUT.tab.waves-effect.waves-light
            if(admin)
              a(href="/admin/?id=#{id}&action=about_us") About Us
            else
              a(href="/about_us/?id=#{id}") About Us
          li#CONTESTS.tab.waves-effect.waves-light
            if(admin)
              a(href="/admin/?id=#{id}&action=contests") Contests
            else
              a(href="/contests/?id=#{id}") Contests
          li#VOLUNTEERS.tab.waves-effect.waves-light
            if(admin)
              a(href="/admin/?id=#{id}&action=volunteers") Volunteers
            else
              a(href="/volunteers/?id=#{id}") Volunteers
          li#DOWNLOADS.tab.waves-effect.waves-light
            if(admin)
              a(href="/admin/?id=#{id}&action=downloads") Downloads
            else
              a(href="/downloads/?id=#{id}") Downloads
          li#JOIN.tab.waves-effect.waves-light
            if(admin)
              a(href="/admin/?id=#{id}&action=join_us") Join Us
            else
              a(href="/about_us/join_us/?id=#{id}") Join Us

    script.
      var id = document.getElementById("id");
      id = id.value;
      if(id>0) {
        $('.right_nav').empty();
        $('.right_nav').append(`<ul class='login'>
          <li class='login'><a class='login' href='#'>欢迎您</a></li>
          <li class='login'><a class='login' href='/logout/?id=${id}'>退出登录</a></li>
          </ul>`);
      } else {
        $('.right_nav').empty();
        $('.right_nav').append(`<ul class='login'>
          <li id='adminlogin' class='login'><a class='login' href='/admin/?action=login'>管理登录</a></li>
          <li id='login' class='login'><a class='login' href='/login'>登录</a></li>
          <li id='register' class='login'><a class='login' href='/register'>注册</a></li>
          </ul>`);
      }
    block content
    footer.page-footer.orange
      .container
        .row.flow-text
          .col.s12
            h5.left.white-text
              | EECSSAST
              | We are EECSSAST
            h5.right.white-text
              | 网站建设中，任何问题可以联系 xdj@pku.edu.cn
      .footer-copyright
        .container
          h5.white-text
            | Made with ❤ by 信息科学技术学院学生科学技术协会 @ 2018
            a.text-lighten-3(href='http://eecskexie.com')  EECSSAST