extends layout

block content
  .featured-section
    .container
      if(activity==="acm-school")
        blockquote
          | 注意活动尚未开始报名，一切操作都不会保存
        script.
          Materialize.toast('注意活动尚未开始报名，一切操作都不会保存', 5000, 'rounded')
          //  alert('注意活动尚未开始报名，一切操作都不会保存')
        h2 ACM校内赛志愿者
        .row
          .col.s4
            ul.card-panel.hoverable
              li.list1
                h3.m_3 志愿活动状态
                .clear5
            ul.collapsible.popout(data-collapsible="accordion")
              li
                .collapsible-header.active
                  活动报名
                .collapsible-body
                  p
                    | 志愿活动报名入口预计在2018年4月开放。
                    | 请及时关注信息，顺利报名。

              li
                .collapsible-header.active
                  志愿分组
                .collapsible-body
                  p
                    | 志愿活动分为不同的小组。
                    | 志愿者需要进入至少一个小组，每个小组的工作在下面详细介绍。
                    | 加入分组的方式为在右侧点击对应的按钮即可报名对应小组。
                    | 请根据自己的时间、能力选择合适的小组。

              li
                .collapsible-header.active
                  志愿报酬
                .collapsible-body
                  p
                    | 参加志愿活动有相应报酬，在各个小组的详细介绍中将会说明。
                    | 报酬发放方式为支付宝转账。根据情况可以开具志愿证明。

              li
                .collapsible-header.active
                  志愿小组一
                .collapsible-body
                  p
                    | 工作尚未安排。报酬未知。
              li
                .collapsible-header.active
                  志愿小组二
                .collapsible-body
                  p
                    | 工作尚未安排。报酬未知。
              li
                .collapsible-header.active
                  志愿小组三
                .collapsible-body
                  p
                    | 工作尚未安排。报酬未知。

          if(sign)
            .col.s4
              ul.topic_grid
                li.list1
                  h3.m_3 您的志愿小组报名情况
                  h3.m_3 您的id是#{id}
                  .clear5
              if(group % 2 >= 1)
                a.btn.waves-effect.waves-light(href='/volunteers/volunteer/resign_group/?id=#{id}&activity=#{activity}&group=0')
                  | 已加入第一组，点击放弃报名
                  span
                  img(src="/images/avatar.png", alt="第一组二维码")
                  label 扫描第一组二维码
              else
                a.btn.waves-effect.waves-light(href='/volunteers/volunteer/sign_group/?id=#{id}&activity=#{activity}&group=0')
                  | 点击加入第一组
                  span
              if(group / 2 % 2 >= 1)
                a.btn.waves-effect.waves-light(href='/volunteers/volunteer/resign_group/?id=#{id}&activity=#{activity}&group=1')
                  | 已加入第二组，点击放弃报名
                  span
                  img(src="/images/avatar.png", alt="第二组二维码")
                  label 扫描第二组二维码
              else
                a.btn.waves-effect.waves-light(href='/volunteers/volunteer/sign_group/?id=#{id}&activity=#{activity}&group=1')
                  | 点击加入第二组
                  span
              if(group / 4 % 2 >= 1)
                a.btn.waves-effect.waves-light(href='/volunteers/volunteer/resign_group/?id=#{id}&activity=#{activity}&group=2')
                  | 已加入第三组，点击放弃报名
                  span
                  img(src="/images/avatar.png", alt="第三组二维码")
                  label 扫描第三组二维码
              else
                a.btn.waves-effect.waves-light(href='/volunteers/volunteer/sign_group/?id=#{id}&activity=#{activity}&group=2')
                  | 点击加入第三组
                  span
            .col.s4.feature-accord
              ul.topic_grid
                li.list1
                  h3.m_3 您的活动情况
                  .clear5
              .menu_vertical
                section.accordation_menu
                  if(group % 2 >= 1)
                    div
                      input#label-2-1(name='state', type='radio', checked='')
                      label#item2-1(for='label-2-1')
                        i.ferme
                        span.m_5 您已经报名了第一组
                        i.icon-plus-sign.i-right1
                        i.icon-minus-sign.i-right2
                      #a1.content
                        ul.news_list
                          li.date_desc
                          if(attend_confirm % 2 >= 1)
                            p
                              | 您已经出色地完成了这个小组的任务。
                          else
                            p
                              | 并没有您的活动记录。
                          .clearfix
                  if(group / 2 % 2 >= 1)
                    div
                      input#label-2-2(name='state', type='radio')
                      label#item2-2(for='label-2-2')
                        i.ferme
                        span.m_5 您已经报名了第二组
                        i.icon-plus-sign.i-right1
                        i.icon-minus-sign.i-right2
                      #a1.content
                        ul.news_list
                          li.date_desc
                          if(attend_confirm / 2 % 2 >= 1)
                            p
                              | 您已经出色地完成了这个小组的任务。
                          else
                            p
                              | 并没有您的活动记录。
                          .clearfix
                  if(group / 4 % 2 >= 1)
                    div
                      input#label-2-3(name='state', type='radio')
                      label#item2-3(for='label-2-3')
                        i.ferme
                        span.m_5 您已经报名了第三组
                        i.icon-plus-sign.i-right1
                        i.icon-minus-sign.i-right2
                      #a1.content
                        ul.news_list
                          li.date_desc
                          if(attend_confirm / 4 % 2 >= 1)
                            p
                              | 您已经出色地完成了这个小组的任务。
                          else
                            p
                              | 并没有您的活动记录。
                          .clearfix
              .wecome-button
                a.btn.waves-effect.waves-light(href='/volunteers/?id=#{id}')
                  | 返回
                  span
          else
            .col.s4.feature-accord
              .wecome-button
              a.btn.waves-effect.waves-light(href='/volunteers/volunteer/sign/?id=#{id}&activity=#{activity}')
                | 点击参加志愿活动
                span
            .col.s4.feature-accord
              .wecome-button
                a.btn.waves-effect.waves-light(href='/volunteers/?id=#{id}')
                  | 返回
                  span
